bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
**/.idea/
.DS_Store
**/.DS_Store
TrinketFactoryWeb/app.db-shm
*/app.db-wal
*.db-shm
*.db-wal
TrinketFactoryWeb/app.db-shm
TrinketFactoryWeb/app.db-wal
