@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class = "text-primary">Create new Product</h2>
            <hr/>
        </div>
        <div class="mb-3 row">
            <label>Product Name</label>
            <input asp-for = "name" type="text" class="form-control"/>
            
        </div>
        <div class="mb-3 row">
            <label>Product Price</label>
            <input asp-for = "price" type="text" class="form-control"/>
        </div>
        <div class="mb-3 row">
                    <label>Product Category ID</label>
                    <input asp-for = "categoryId" type="text" class="form-control"/>
                </div>
        <button type ="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="product" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Cancel
        </a>
    </div>
</form>